body {
    background: #00014f;
    background: linear-gradient(90deg, rgba(0, 1, 79, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(20, 77, 57, 1) 100%);

h1, h2, p {
    color: #ffffff;
    text-align: center;
      font-family: "Tagesschrift", system-ui;

}

   h2{
    font-style: dancing script;
    font-size: 40px;
    
   } 
    
}

